$maincolor: #779bd0;
$colorbutton: #f0fe5e;
$backgroundgreen: #4fac84;

.amarillo {
  background-color: $colorbutton;
}

.btn-primary {
  background-color: $maincolor;
  &:hover {
    background-color: $colorbutton;
    color: #779bd0;
    border-color: $colorbutton;
  }
}

.fondoazul {
  background-color: $maincolor;
}

.imagenes {
  width: 100%;
}

.todapantalla {
  height: 100%;
  min-height: 100vh;
}

.footer {
  background-color: $maincolor;
  padding: 20px;
}
