.hoveramarillomenu:hover {
  background-color: #f0fe5e;
  border-color: #f0fe5e;
  height: 50px;
  color: #779bd0; }

.btn-primary {
  background-color: #779bd0; }
  .btn-primary:hover {
    background-color: #f0fe5e;
    color: #779bd0;
    border-color: #f0fe5e; }

.fondoazul {
  background-color: #779bd0; }

.imagenes {
  width: 100%; }

.todapantalla {
  height: 100%;
  min-height: 100vh; }

.footer {
  background-color: #779bd0;
  padding: 20px; }

.margenizquierdo {
  margin-left: 50px; }

.margenderecho {
  margin-right: 50px; }

p {
  font-size: 25px; }

/* los tags como body se escriben sin .; el punto es solo para clases*/
body {
  font-family: "Montserrat"; }

h1,
h2,
h3 {
  font-weight: bolder; }

.letramenu {
  font-weight: bolder; }

.numeromenu {
  font-size: 27px;
  font-weight: bolder;
  color: #779bd0; }

.justificado {
  text-align: justify; }

.rectangulocolor {
  fill: #f0f6ff; }

.profundidad {
  z-index: -1;
  position: absolute; }

.position {
  position: relative; }

.rectangulo2 {
  margin-top: 100%; }

.animacion {
  background-image: linear-gradient(#779bd0, #779bd0);
  background-size: 0% 2px;
  background-position: 0% 100%;
  text-decoration: none;
  transition: background-size 1.5s;
  background-repeat: no-repeat; }
  .animacion:hover {
    background-image: linear-gradient(#779bd0, #779bd0);
    background-repeat: no-repeat;
    text-decoration: none;
    background-size: 100% 2px;
    background-position: 0% 100%; }

.hamburgesa {
  display: none; }

/*variable: si tal condicion se da, se aplicara el estilo definido, si la pantalla es igual o menor a 769px se vera un margen de 0*/
@media (max-width: 769px) {
  .margenizquierdo {
    margin-left: 0px; }
  p {
    font-size: 17px; }
  .hamburgesa {
    display: block; }
  .rodeoheader {
    display: none; }
  .rodeoheader.responsive {
    display: block; } }

@media (min-width: 1367px) {
  p {
    font-size: 40px; } }

@media (max-width: 991px) {
  .rodeoheader {
    display: none; }
  .hamburgesa {
    display: block; } }
