.amarillo {
  background-color: #f0fe5e; }

.btn-primary {
  background-color: #779bd0; }
  .btn-primary:hover {
    background-color: #f0fe5e;
    color: #779bd0;
    border-color: #f0fe5e; }

.fondoazul {
  background-color: #779bd0; }

.imagenes {
  width: 100%; }

.todapantalla {
  height: 100%;
  min-height: 100vh; }

.footer {
  background-color: #779bd0;
  padding: 20px; }
