body{
    margin:0 
}
    

#background{
    background-color:#7EAEF7 ;
    width: 120px; 
    height: 600px;
}
#fondoverde{
    background-color: mediumspringgreen;
    width: 100vw;
    height: 100vh;
}